[submodule "external/mattpocock-skills"]
	path = external/mattpocock-skills
	url = https://github.com/mattpocock/skills.git
[submodule "external/obra-superpowers"]
	path = external/obra-superpowers
	url = https://github.com/obra/superpowers.git
